/*-------------------------*/
/*Basic setup*/
/*-------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    background-color: #fff;    
    color: rgb(63, 60, 60);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 350;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}





/*-------------------------*/
/*header*/
/*-------------------------*/


header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),  rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
} 


.her-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    
}

/*-------------------------*/
/*Resusable Components*/
/*-------------------------*/
.row {
    max-width: 1140px;
    margin: 0 auto;
    
}

section {
     padding: 80px 0;
}

.box {
    padding: 1%;
}


/*----headings----*/
h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}
h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
   font-size: 180%;
   word-spacing: 3px;
   text-align: center;
   margin-bottom: 30px;
   letter-spacing: 1px;

}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}
h2:after {
    display: block;
    height: 3px;
    background-color: orange;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
    
}

/*----paragraphs----*/
.long-copy {
    line-height: 140%;
    width: 70%;
    margin-left: 15%;
}

.box p {
    font-size: 85%;
    line-height: 130%;
}

/*----icons----*/
.icon-big {
    font-size: 350%;
    display: block;
    color: peru;
    margin-bottom: 10px;
}

.icon-small {
    display: inline-block;
    width: 25px;
    text-align: center;
    color: orange;
    font-size: 120%;
    margin-right: 10px;
    /*
    font-size: 120%;
    line-height: 120px;
    vertical-align: middle;
    margin-top: -5px;
    ---*/
}

/*----links----*/
a:link,
a:visited {
    color:peru;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 3px solid  rgb(245, 215, 159);
    transition: border-bottom 0.3s, color 0.3s;
    -webkit-transition: border-bottom 0.3s, color 0.3s;
    -moz-transition: border-bottom 0.3s, color 0.3s;
    -ms-transition: border-bottom 0.3s, color 0.3s;
    -o-transition: border-bottom 0.3s, color 0.3s;
}

a:hover,
a:active {
    border-bottom: 3px solid  transparent;
}


/*----Buttons----*/

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    -ms-border-radius: 200px;
    -o-border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    -moz-transition: background-color 0.2s, border 0.2s, color 0.2s;
    -ms-transition: background-color 0.2s, border 0.2s, color 0.2s;
    -o-transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-me:link,
.btn-me:visited,
input[type=submit] {
    background-color: orange;
    border: 1px solid orangered;
    color: #fff;
    margin-right: 15px;
}

.btn-her:link,
.btn-her:visited {
    border: 1px solid orangered;
    color: orange;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: rgb(245, 215, 159);
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}


/*----Navigation Button----*/

.main-nav {
     float: right;
     list-style: none;
     margin-top: 60px;
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
     padding: 8px 0;
     color: #fff;
     text-decoration: none;
     text-transform: uppercase;
     font-size: 90%;
     border-bottom: 3px solid transparent;
     transition: border-bottom 0.3s;
     -webkit-transition: border-bottom 0.3s;
     -moz-transition: border-bottom 0.3s;
     -ms-transition: border-bottom 0.3s;
     -o-transition: border-bottom 0.3s;
}

.main-nav li a:hover,
.main-nav li a:active {
      border-bottom: 3px solid  rgb(245, 215, 159);
}


/*----meals----*/
.section-meals {
    padding: 0;
}

.meals-showcase {
    list-style: none;
    width: 100%;
}
.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black;

}

.meal-photo img {
    opacity: 0.8;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transition: tranform 0.5s;
    -webkit-transition: tranform 0.5s;
    -moz-transition: tranform 0.5s;
    -ms-transition: tranform 0.5s;
    -o-transition: tranform 0.5s;
}

.meal-photo img:hover {
     opacity: 1;
     transform: scale(1.03);
     -webkit-transform: scale(1.03);
     -moz-transform: scale(1.03);
     -ms-transform: scale(1.03);
     -o-transform: scale(1.03);
}

/*----how it works----*/

.section-steps {
    margin-top: 30%;
    margin-top: 25%;
    background-color: rgba(219, 212, 212, 0.979)
}

.step-box:first-child {
     text-align: right;
     padding-right: 3%;
     margin-top: 30px;
}

.step-box:last-child {
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen {
    width: 40%;
}
.btn-app:link,
.btn-app:visited{
     border: 0;
}


.work-step {
    margin-bottom: 50px;

}

.work-step:last-of-type {
    margin-bottom: 80px;

}


.work-step div {
    color: orange;
    border: 2px solid  rgb(245, 215, 159);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    height: 50%;
    width: 50px;
    text-align: center;
    padding: 3px;
    float: left;
    font-size: 130%;
    margin-right: 25px;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 15px;
}


/*----cities----*/

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.city-feature {
    margin-bottom: 5px;
}
cite {
    font-size: 90%;
    margin-top: 25%;
    display: block;
 }


/*----Testimonials----*/
.section-testimonials {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),  rgba(0, 0, 0, 0.7)),  url(img/back-customers.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #fff;
}

cite img {
    height: 30%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
   }

blockquote {
    padding: 2px;
    font-style: italic;
    line-height: 120%;
    position: relative;
    margin-top: 30px;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}





/*----sign up----*/
.section-plan {
    background-color: rgba(219, 212, 212, 0.979);
}
.plan-box {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 2px 2px rgb(248, 230, 230);
}

.plan-box div {
    background-color: #fff;
    padding: 10px;
    border: 1px solid rgb(248, 230, 230);
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}



.plan-box div:last-child {
    text-align: center;
    border: none;
}

.plan-price {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: orangered;
}
 
.plan-price span {
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal {
    font-size: 80%;
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
}

/*----forms----*/

.contact-form {
    width: 60%;
    margin: 0 auto;
}

input [type=text],
input [type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border: 1px solid  #ccc;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px  10px 0;
}

*:focus {outline: none;}


/*----footer----*/

footer {
    background-color: rgb(68, 65, 65);
    padding: 50px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-link {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-link li {
    display: inline-block;
    margin-right: 2px;
}

.footer-nav li:last-child,
.social-link li:last-child {
    margin-right: 0;
} 

.footer-nav li a:link,
.footer-nav li a:visited,
.social-link-nav li a:link,
.social-link li a:visited {
     text-decoration: none;
     border: 0;
     color: cornsilk;
} 

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-link li a:link,
.social-link li a:visited {
    font-size: 150%;
}
ion-social-facebook,
ion-social-twitter,
ion-social-googleplus,
ion-social-instagram {
    transition: color 0.2s;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -ms-transition: color 0.2s;
    -o-transition: color 0.2s;
}

ion-social-facebook:hover {
   color:#3b5998 ;
}

ion-social-twitter:hover {
    color: #00aced ;
}

ion-social-googleplus:hover {
    color: #dd4b39;
}

ion-social-instagram:hover {
    color: #517fa4;
}


footer p {
    color: darkgray;
    text-align: center;
    font-size: 90%;
}

 




