
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: "lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
    color:  #444;;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
   
}

/*--------*/
/*HEADING*/
/*-------*/
h1 {
    margin-top: 0;
    margin-bottom: 3rem;
}


/*------------------*/
/* HEADER */
/*------------------*/
header {
    height: 95vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../Img/photo-2020-11-14-23-11-35.jpg);
    background-size: cover;
    background-attachment: fixed;
    
}

.sound {
    float: left;
    width: 100%;
    text-align: center;
    background: #2c84c6;
}

.heading-primary--main {
    color: #fff;
}
.heading-primary--sub-1 {
    display: block;
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    margin-bottom: 2rem;
    letter-spacing: 1rem;
    font-weight: 400;
}

.heading-primary--sub-2 {
    color: #fff;
}

.main-text {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.logo {
    height: 7rem;
    width: auto;
    float: left;
    margin-top: 2rem;
    margin-bottom: 2rem ;
    padding-left: 3rem;
}
/*-------------*/
/* NAVIGATION */
/*------------*/
.main-nav {
    width: 100%;
    position: relative;
    text-align: center;
    padding-top: 3rem;
    background-color: #fff;
    color: #186b9c;
    float: left;
    text-decoration: none;
    list-style: none;
    padding-bottom: 6rem;
    font-size: 100%;
    vertical-align: baseline;

}

.main-nav li{
    display: inline-block;
    margin-left: 3rem;

}

.main-nav li a {
    text-decoration: none;
}

.nav-group {
    z-index: 5;
    font-size: 1rem;
    float: left;
    width: 280px;
    min-width: 100%;
    left: 0;
    top: auto;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transform: translateY(0);
}

.nav_group {
    float: left;
    width: 100%;
    position: relative;
    text-align: left;
    background: #186b9c;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 24px 22px rgb(0 0 0 / 25%);
    padding: .5em 0;
}

.nav_group__link {
    color: #fff;
    padding: 0;
    margin: .5rem 1.5rem;
    display: block;
    position: relative;
}


/*-------------*/
/* BUTTON */
/*------------*/
.button {
    background: #f9b416;
    border: 1px #f9b416 solid;
    border-radius: .3rem;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    position: relative;
    padding: .6rem 1.2rem;
    text-align: center;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
}

.button-outline {
    background: none;
    border-color: #2c84c6;
    color: #2c84c6;
}


.btn-me:link,
.btn-me:visited {
    background-color: orange;
    border: 1px solid orangered;
    color: #fff;
    margin-right: 1.5rem;
}

.btn-her:link,
.btn-her:visited {
    background-color: orange;
    border: 1px solid orangered;
    color: #fff;
}

.btn-me:active,
.btn-me:hover {
    background-color: orangered;
    
}

.btn-her:active,
.btn-her:hover {
    background-color: orangered;
}


.btn:link,
.btn:visited {
    display: inline-block;
    padding: 1rem 3rem;
    font-weight: 300;
    text-decoration: none;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    -moz-transition: background-color 0.2s, border 0.2s, color 0.2s;
    -ms-transition: background-color 0.2s, border 0.2s, color 0.2s;
    -o-transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-him:link,
.btn-him:visited {
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 3rem;
    background-color: #186b9c;
    color: #fff;
    border: 1px solid #186b9c;
    float: right; 
    
}

.btn-she:active,
.btn-she:hover {
    background-color: #186b9c;
}


.btn-she:link,
.btn-she:visited {
    margin-top: 3rem;
    margin-bottom: 3rem;
    background-color: none;
    color: #fff;
    border: 2px  solid #fff;
    float: right;
}

/*-----------------*/
/*CONTENT*/
/*-----------------*/
.content{
    background-color: #eee;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 25% 75%;
}

.content-text {
    margin-left: 5rem;
    background: #eee url(../Img/white-school-badge.png) bottom right no-repeat;
    padding: 2rem;
}

.content__text__header-one {
    font-size: 2.5em;
    color: #2c84c6;
    margin: 0 0 .5rem 0;
    font-weight: 400;
    line-height: 1.3;
}

.content__text__header-two {
    color: #222;
    line-height: 1.3;
    font-size: 1.5em;
    font-weight: 800;
    margin: 0 0 1.5rem 0;
}

.content__text__title {
    color: #222;
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.3;
    margin: 0 0 .75em 0;
    padding: 0;
}

.content__img {
    width: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/*-------------*/
/*INTRO*/
/*-------------*/
.features {
    text-align: center;
}
.feature__title {
    color: #222;
    font-size: 2em;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 1rem;
}

.feature__line {
    font-size: 1.3em;
    color: #666;
    margin-bottom: 1rem;
}

.intro {  
    padding: 4rem 3rem 3rem 3rem;
}

.school-stats {
    text-align: center;
    color: #1e1d1d;
    display: flex;
    flex-direction: row;
    border-radius: 100%;
    background: white;
    width: 100%;
    margin: 5rem auto;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.school-stat__number {
    font-size: 2rem;
    font-weight: 1000;
    line-height: 1.25;
    color: #2c84c6;
    background-clip: text;
 
}
/*----------*/
/* PORTAL-LISTING*/
/*----------*/
.portal-listing {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
}

img {
    max-width: 100%;
    vertical-align: center;
    height: auto;
}

.portal-listing__item {
    float: left;
    background-color: #186b9c;
    color: #fff;
    color: rgba(255,255,255,0.875);
    text-align: center;
    position: relative;
    border-radius: 1em 0 1em 0;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 25%)
}

.portal-listing__item--alt {
    color: #fff;
    background-color: #2c84c6;
    border-radius: 0 1em 0 1em;
    text-align: center;
    -webkit-border-radius: 0 1em 0 1em;
    -moz-border-radius: 0 1em 0 1em;
    -ms-border-radius: 0 1em 0 1em;
    -o-border-radius: 0 1em 0 1em;
}

.portal-listing__item__title {
    color: #fff;
    position: relative;
    top: -2.85em;
    margin-bottom: -2em;
    padding: 1rem;
    float: left;
    width: 100%;
    text-align: center;
    font-size: 1.3em;
}

.portal-listing__item__title span {
    position: relative;
}

a {
    color: #2c84c6;
    text-decoration: none;
    outline: none;
    vertical-align: baseline;
} 

.latest-blog {
    padding: 3rem 0;
    border-top: 1px #eee solid;
}

.inner {
    width: 100%;
    margin: 0 auto;
}

.latest-blog__title {
    color: #bbb;
}

.titles {
    
    margin-top: .5rem;
    font-size: 2rem;
}

h3 {
    font-weight: 400;
    line-height: 1.3;
    margin: 0 0 .75em 0;
}

.latest-blog__button { 
    font-size: 2rem;
}


.blog-listings__item {
    margin-top: 5rem;
}


.blog-listings {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
}


.blog-listing {
    background: #eee;
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
    width: 100%;
    margin-right: 5rem;
    margin-bottom: 4rem;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.blog-listing__summary {
    position: relative;
    padding: 1rem 1.5rem 1.5rem 1.5rem;
    background: #eee url(../Img/white-school-badge.png) top right no-repeat;
    background-size: 30%;
}

.blog-date {
    display: inline-block;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: .125rem;
    font-size: .875rem;

}

.blog-listing__title {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
    margin: .3rem 0 .5rem 0;
}

.blog-listing__preview {
    margin: .5rem 0 .5rem 0;
    position: relative;
    display: block;
}
/*---------------*/
/* WHY OXBRIGDE */
/*-------------*/

.why-oxbridge {
    background: #2c84c6;
    color: #fff;
    position: relative;
}

img {
    height: auto;
    max-width: 100%;
}
.why-oxbridge__container {
    color: #eee;
    background: rgba(0,0,0,0.7);
    padding: 2rem 2rem 5rem 2rem;
    width: 100%;
}

.inside {
    width: 100%;
    margin: 0 auto;
}

.why-oxbridge__title {

    color: #fff;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.3;
    margin: 0 0 .75em 0;
}

.why-oxbridge__text {
    display: grid;
    grid-template-columns: 1fr 1fr 200px;
    grid-gap: 3rem;
}

/* /*------------------*/
/* FOOTER  */
/*--------------------*/

.footer {
    color: rgba(255,255,255,0.75);
    padding-top: 2em;
    background: #186b9c;
   
}

.inside-me {
    width: 94%;
    max-width: 74rem;
    margin: 0 auto;
}

.footer-logo {
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
}

.footer-logo img {
    width: 50%;
    float: none;
    text-align: center;
    margin-bottom: 3rem;
}

.footer-groups {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 3rem;
}

/*-----------*/
/* FOOTER NAV */
/*-----------*/
.footer-nav {
    text-align: center;
    border-top: 1px rgba(255,255,255,0.1) solid;
}

.oxbridge-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav-item {
    color: #fff;
    display: inline-block;
    margin: 1rem 2rem;
    position: relative;
    
}

li {
    clear: left;
}


